/* Basic Styling for the Home Page */
.home-container {
    display: flex;
    margin-top: 60px; /* Offset for fixed header */
  }
  
  .sidebar {
    width: 150px;
    background-color: #f4f4f4;
    padding: 10px;
    position: fixed;
    height: 30vh;
    overflow-y: auto;
    top: 60px; /* Offset for fixed header */
    border-style: solid;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
    background-color: #5555554a;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  .content {
    margin-left: 0px; /* Space for sidebar */
    padding: 30px;
    flex-grow: 1;
    background-color: #464646ab;
  }
  
  .content section {
    margin-bottom: 40px;
    padding-top: 80px; /* Add padding to offset fixed header */
    margin-top: -20px; /* Use negative margin to pull up content */
    margin-left: 20px;
    padding-left: 170px;
    padding-right: 20px;
    min-height: auto;
    height: 200px;
    border-color: black;
    border-width: 3px;
    border-style:dashed;
    border-radius: 30px;
    background-color: rgb(187, 186, 186);
    
    
  }
  
  .content h1, .content h2 {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .content p {
    margin-bottom: 10px;
  }
  
  .content button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .content button:hover {
    background-color: #555;
  }
  